@import "/fonts/quicksand/stylesheet.css"

body
  :background black
  :color white
  :font-size 16px
  h1
    :font-family 'QuicksandBold', "Helvetica Neue", Helvetica, Arial, sans-serif
    :font-size 24px

  .tweet
    :-webkit-transition all 1s ease-in-out
    :-moz-transition all 1s ease-in-out
    :-o-transition all 1s ease-in-out
    :-ms-transition all 1s ease-in-out
    :transition all 1s ease-in-out
    :margin-bottom 24px
    :color #555
    p
      :font-family 'QuicksandLight', "Helvetica Neue", Helvetica, Arial, sans-serif
      :font-size 32px
    footer
      :font-family 'QuicksandBoldOblique', "Helvetica Neue", Helvetica, Arial, sans-serif
      :text-align right
      :font-size 28px
  .tweet:first-child
    :color white
    p
      :font-size 72px
    footer
      :font-size 42px
    
  