!!! 5
%html
  %head
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %title The Make Space 2012
  %body
    %h1<
      %span.space< THE
      MAKE
      %span.space< SPACE
      %span.location@ Arts Fest
    #tweets
    #backgrounds
    %script#tweet{:type => "text/html"}
      %blockquote.tweet
        %p{:style => "color: {{ color }}"} {{ text }}
        %footer— {{ user }}
    %script#background{:type => "text/html"}
      %span.background {{ text }} — {{ user }}
    %script{:type => "text/javascript", :src => "js/icanhaz.js"}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "js/client.js"}
